*{
     margin: 0;
     padding: 0;
 }
 .sub-logo{
    color:red;
 }
 .nav-link:hover{
   border-bottom: 1px solid red;
 }
table{
   border-collapse: collapse !important;
   border: 1px solid black !important;
}
table th,
table td{
   border:1px solid black !important;
   padding: 5px;
}
  